/*griffin rock 3/31/2020*/
.counties {
    fill: #140057;
    stroke: #ffb8f4;
    stroke-width: 0.1px;
}
.gratLines {
    fill: none;
    stroke: #638a8a;
    stroke-width: 1px;
}
.gratBackground {
    fill: #f2fdff;
}
.map {
    border: medium solid #638a8a;
}